<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.xinu.dt.unit.base</string>
		<string>com.xinu.dt.unit.macBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>avr-Configuration</key>
		<dict>
			<key>Path</key>
			<string>avr-Configuration</string>
		</dict>
		<key>Makefile</key>
		<dict>
			<key>Path</key>
			<string>Makefile</string>
		</dict>
		<key>Xinu_main.c</key>
		<dict>
			<key>Path</key>
			<string>Xinu_main.c</string>
		</dict>
	</dict>
	<key>Description</key>
	<string>External build of avr-Xinu project.</string>
	<key>Identifier</key>
	<string>com.xinu.dt.unit.externalBuildSystem</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>avr-Configuration</string>
		<string>Makefile</string>
		<string>Xinu_main.c</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>BuildToolArgsString</key>
			<string>$(ACTION)</string>
			<key>BuildToolPath</key>
			<string>/usr/bin/make</string>
			<key>BuildWorkingDirectory</key>
			<string>$(SRCROOT)/$(TARGETNAME)</string>
			<key>Configurations</key>
			<dict>
				<key>Debug</key>
				<dict>
					<key>DEBUGGING_SYMBOLS</key>
					<string>YES</string>
					<key>GCC_GENERATE_DEBUGGING_SYMBOLS</key>
					<string>YES</string>
					<key>GCC_OPTIMIZATION_LEVEL</key>
					<string>0</string>
				</dict>
				<key>Release</key>
				<dict/>
			</dict>
			<key>SharedSettings</key>
			<dict>
				<key>OTHER_CFLAGS</key>
				<string></string>
				<key>OTHER_LDFLAGS</key>
				<string></string>
				<key>PATH</key>
				<string>/usr/local/bin:$(PATH)</string>
			</dict>
			<key>TargetType</key>
			<string>Legacy</string>
		</dict>
	</array>
</dict>
</plist>
